
input[type="button"]{

    margin-left: 0;
    margin-right: 0;
    color: white;
    width: 333px;
   
    font-size: 33px;
   
    background-color: blue;
    cursor: pointer;
    float: left;
    
    }

    h1{

        color:rgb(0, 0, 0);
        text-align: center;
        margin-top: 24px;
        margin-bottom: 30px;
        align-content: center;
    }

    h2{

        color:rgb(255, 255, 255);
        text-align: center;
        margin-top: 24px;
        margin-bottom: 30px;
        align-content: center;
    }

    form{
        
       
    width: 501px;
    height: 501px;
    background-color: black;
    padding-top: 20px;
    margin: 60px auto;
    
    border-top-right-radius: 21px ;
    border-bottom-left-radius: 21px;
    
    box-shadow: -12px 21px 15px 12px rgb(33, 8, 146);
    float: left;
    margin-left: 120px;
    
    }


